body {
  background: rgb(255, 0, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

* {
  font-family: sans-serif;
  box-sizing: border-box;
}

form {
  width: 500px;
  border: 2px solid white;
  padding: 30px;
  background: white;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 15px;
}

h2 {
  text-align: center;
  margin-bottom: 40px;
}

input {
  display: block;
  border: 2px solid white;
  width: 95%;
  padding: 10px;
  margin: 10px auto;
  border-radius: 5px;
}

label {
  color: #888;
  font-size: 18px;
  padding: 10px;
}

button {
  float: right;
  padding: 10px 15px;
  margin-right: 10px;
  border: none;
  transform: translate(-50%, -50%);
  background: rgb(0, 0, 0, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 5px;
}

button :hover {
  opacity: 0.7;
}

.error {
  background: #f2dede;
  color: red;
  padding: 10px;
  width: 95%;
  border-radius: 5px;
  margin: 20px auto;
}

h1 {
  text-align: center;
  color: black;
}

a {
  float: right;
  background: gray;
  padding: 10px 15px;
  color: black;
  border-radius: 5px;
  margin-right: 10px;
  border: none;
  text-decoration: none;
}

a:hover {
  opacity: 0.7;
}
